<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.id  == null}
        ? 'Add new recipe'
        : 'Update ' + ${recipe.description}">Add new recipe</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <form th:object="${recipe}" th:action="@{/recipe/}" method="post">
            <div class="card">
                <div class="title-card">
                    <h2 th:text="${recipe.description}">Description</h2>
                </div>
                <input type="hidden" th:field="*{id}">
                <div class="data">
                    <label for="description">Recipe Description:</label>
                    <input id="description" type="text" th:field="*{description}"/>
                </div>
                <div class="data">
                    <label>Categories:</label>
                    <div class="checkbox-div">
                        <label class="label-checkbox" th:remove="all">
                            <input type="checkbox" value=""/>
                            Cat 1
                        </label>
                        <label class="label-checkbox">
                            <input type="checkbox" value=""/>
                            Cat 2
                        </label>
                    </div>
                </div>
                <div class="data">
                    <label for="preparation">Preparation Time:</label>
                    <input id="preparation" type="text" th:field="*{preparationTime}"/>
                </div>
                <div class="data">
                    <label for="cook">Cook Time:</label>
                    <input id="cook" type="text" th:field="*{cookTime}"/>
                </div>
                <div class="data">
                    <label for="difficulty">Difficulty:</label>
                    <select id="difficulty">
                        <option>Easy</option>
                        <option>Medium</option>
                        <option>Hard</option>
                    </select>
                </div>
                <div class="data">
                    <label for="servings">Servings:</label>
                    <input id="servings" type="text" th:field="*{servings}"/>
                </div>
                <div class="data">
                    <label for="url">URL:</label>
                    <input id="url" type="text" th:field="*{url}"/>
                </div>
            </div>
            <div class="card">
                <div class="title-card">
                    <h2>Ingredients</h2>
                </div>
                <ul>
                    <li th:each="ingredient : ${recipe.ingredients}"
                        th:text="${ingredient.amount +
                   ' ' + ingredient.unitOfMeasure.description +
                 ' - ' + ingredient.description}"></li>
                </ul>
            </div>
            <div class="card">
                <div class="title-card">
                    <h2>Directions</h2>
                </div>
                <!--<label for="directions">Directions:</label>-->
                <textarea id="directions" th:field="*{directions}"></textarea>
            </div>
            <div class="card">
                <div class="title-card">
                    <h2>Notes</h2>
                </div>
                <!--<label for="notes">Notes:</label>-->
                <textarea id="notes" th:field="*{notes.recipeNotes}"></textarea>
            </div>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>