<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Recipe</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h2 th:text="${recipe.description}">Description</h2>
            <div class="data">
                <h3>Category:</h3>
                <p th:remove="all">Mexican</p>
                <p th:each="category : ${recipe.categories}" th:text="${category.description}">American</p>
            </div>
            <div class="data">
                <h3>Preparation Time:</h3>
                <p th:text="${recipe.preparationTime} + ' min'">10</p>
            </div>
            <div class="data">
                <h3>Cook Time:</h3>
                <p th:text="${recipe.cookTime} != null ? ${recipe.cookTime} + ' min' : 'none'">10</p>
            </div>
            <div class="data">
                <h3>Difficulty:</h3>
                <p th:text="${#strings.capitalize(#strings.toLowerCase(recipe.difficulty))}">Easy</p>
            </div>
            <div class="data">
                <h3>Servings:</h3>
                <p th:text="${recipe.servings}">10</p>
            </div>
            <div class="data">
                <h3>URL:</h3>
                <p th:text="${recipe.url}">www.example.com</p>
            </div>
        </div>
        <div class="card">
            <h2>Ingredients</h2>
            <ul>
                <li th:remove="all">aaaaaaaaaa</li>
                <li th:remove="all">eeeeeeeeee</li>
                <li th:remove="all">oooooooooo</li>
                <li th:each="ingredient : ${recipe.ingredients}"
                    th:text="${ingredient.amount}
                    + ' ' + ${#strings.toLowerCase(ingredient.unitOfMeasure.description)}
                    + ' ' + ${ingredient.description}">uuuuuuuuuu</li>
            </ul>
        </div>
        <div class="card">
            <h2>Directions</h2>
            <p th:text="${recipe.directions}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor augue lorem, in aliquet leo ullamcorper id.
                Nulla in fringilla mauris. Donec convallis tempor eleifend. Quisque volutpat cursus eros vitae iaculis.
                Nulla porta orci eget mi pharetra, nec ultrices ipsum pulvinar. Mauris ut fermentum erat.
                Integer cursus dictum dolor ultricies consectetur. Quisque sit amet quam ante.
                Morbi pulvinar lectus at laoreet dignissim. Sed sit amet cursus erat. Curabitur in nisi urna.
                Sed eu pellentesque risus, nec gravida mi. Donec fermentum commodo est, vitae pharetra est sagittis ultricies.
                Donec quis felis vel libero vehicula consequat ac vitae odio. Nam vulputate feugiat tristique.
                Praesent vulputate neque quis hendrerit gravida.
            </p>
        </div>
        <div class="card">
            <h2>Notes</h2>
            <p th:text="${recipe.notes.recipeNotes}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor augue lorem, in aliquet leo ullamcorper id.
                Nulla in fringilla mauris. Donec convallis tempor eleifend. Quisque volutpat cursus eros vitae iaculis.
                Nulla porta orci eget mi pharetra, nec ultrices ipsum pulvinar. Mauris ut fermentum erat.
                Integer cursus dictum dolor ultricies consectetur. Quisque sit amet quam ante.
                Morbi pulvinar lectus at laoreet dignissim. Sed sit amet cursus erat. Curabitur in nisi urna.
                Sed eu pellentesque risus, nec gravida mi. Donec fermentum commodo est, vitae pharetra est sagittis ultricies.
                Donec quis felis vel libero vehicula consequat ac vitae odio. Nam vulputate feugiat tristique.
                Praesent vulputate neque quis hendrerit gravida.
            </p>
        </div>
    </div>
</body>
</html>