<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Recipe</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="title-card">
                <h2 th:text="${recipe.description}">Description</h2>
            </div>
            <div class="data">
                <h3>Category:</h3>
                <div class="categories">
                    <p class="category" th:class="''" th:remove="all">Mexican</p>
                    <p class="category" th:each="category : ${recipe.categories}"
                       th:text="${category.description}">American</p>
                </div>
            </div>
            <div class="data">
                <h3>Preparation Time:</h3>
                <p th:text="${recipe.preparationTime} + ' min'">10</p>
            </div>
            <div class="data">
                <h3>Cook Time:</h3>
                <p th:text="${recipe.cookTime} != null ? ${recipe.cookTime} + ' min' : 'none'">10</p>
            </div>
            <div class="data">
                <h3>Difficulty:</h3>
                <p th:text="${#strings.capitalize(#strings.toLowerCase(recipe.difficulty))}">Easy</p>
            </div>
            <div class="data">
                <h3>Servings:</h3>
                <p th:text="${recipe.servings}">10</p>
            </div>
            <div class="data">
                <h3>URL:</h3>
                <a th:href="@{${recipe.url}}" th:text="${recipe.url}">www.example.com</a>
            </div>
        </div>
        <div class="card">
            <div class="title-card modify-action">
                <h2>Ingredients</h2>
                <a href="#" th:href="@{'/recipe/' + *{id} + '/ingredients'}" class="link-button" role="button">View</a>
            </div>
            <ul>
                <li th:remove="all">aaaaaaaaaa</li>
                <li th:remove="all">eeeeeeeeee</li>
                <li th:remove="all">oooooooooo</li>
                <li th:each="ingredient : ${recipe.ingredients}"
                    th:text="${ingredient.amount}
                    + ' ' + ${#strings.toLowerCase(ingredient.unitOfMeasure?.description)}
                    + ' ' + ${ingredient.description}">uuuuuuuuuu
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="title-card">
                <h2>Directions</h2>
            </div>
            <p th:utext="${#strings.replace(#strings.escapeXml(recipe.directions), '&#10;', '&lt;br&gt;')}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor augue lorem, in aliquet leo
                ullamcorper id.
                Nulla in fringilla mauris. Donec convallis tempor eleifend. Quisque volutpat cursus eros vitae iaculis.
                Nulla porta orci eget mi pharetra, nec ultrices ipsum pulvinar. Mauris ut fermentum erat.
                Integer cursus dictum dolor ultricies consectetur.
            </p>
        </div>
        <div class="card">
            <div class="title-card">
                <h2>Notes</h2>
            </div>
            <p th:utext="${#strings.replace(#strings.escapeXml(recipe.notes?.recipeNotes), '&#10;', '&lt;br&gt;')}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor augue lorem, in aliquet leo
                ullamcorper id.
                Nulla in fringilla mauris. Donec convallis tempor eleifend. Quisque volutpat cursus eros vitae iaculis.
            </p>
        </div>
    </div>
</body>
</html>