/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

.container {
    text-align: center;
}

table, th, td {
    border: 1px solid gray;
    padding: 7px 15px;
}

table {
    display: inline-table;
    width: 100%;
}

.table-container {
    width: 94%;
    padding: 0 20px;
}

.card {
    text-align: left;
    display: inline-block;
    background-color: #eeeeee;
    width: 700px;
    margin: 10px;
    border: 1px solid #006bc7;
    border-radius: 8px;
    padding-bottom: 15px;
}

.card .title-card {
    background-color: #006bc7;
    margin: 0 0 10px 0;
    padding: 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    min-height: 22px;
}

.card .title-card h2 {
    display: inline-block;
    font-size: 18px;
    text-align: left;
    color: white;
    margin: 0;
    padding: 0;
}

.card ul {
    text-align: left;
}

.card ul li {
    font-size: 13px;
}

.card p, .card textarea {
    display: block;
    font-size: 13px;
    text-align: justify;
    padding: 0 15px;
}

textarea {
    padding: 15px 15px;
    margin: 15px 15px 0 15px;

    --width: 635px;
    --height: 125px;

    width: var(--width);
    max-width: var(--width);
    height: var(--height);
    max-height: var(--height);
}

.card a {
    font-size: 13px;
}

.data {
    margin: 3px 15px;
}

.data h3, .data label {
    display: inline-block;
    margin: 0;
    font-size: 13px;
    min-width: 150px;
    font-weight: bold;
}

input:not([type="checkbox"]), select, .data p:not(.category) {
    width: 200px;
    margin: 0;
    padding: 0;
}

label.label-checkbox {
    min-width: 0;
}

.checkbox-div {
    display: inline-block;
    min-width: 128px;
}

.data p {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 13px;
}

.categories {
    display: inline-block;
}

.category:not(:first-child)::before {
    content: "- ";
}

.link {
    font-size: 1em;
}

.delete-form button {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    color: blue;
}

.delete-form button:active {
    color: purple;
}

.link-button {
    background: #006bc7;
    color: white;
    text-decoration: none;
}

.link-button:active {
    color: white;
}

.link-button:hover {
    color: #e0e0e0;
}

.modify-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-img {
    --size: 150px;
    width: var(--size);
    height: var(--size);
}

.has-error {
    color: #8f0909;
    border-color: #8f0909;
}

.alert {
    display: inline-block;
    width: 700px;
    color: #8f0909;
    background-color: #ffb4b4;
    border: 1px solid #cb6060;
    border-radius: 8px;
}

.help ul {
    margin: 0;
    padding-left: 25px;
    color: #8f0909;
}

.help ul li {
    color: #8f0909;
}
