<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>
    <style>
        table, th, td {
            border: 1px solid gray;
            padding: 7px 15px;
        }
    </style>
</head>
<body>
    <h1>My Recipes!</h1>
    <div class="table-container" th:if="${not #lists.isEmpty(recipes)}">
        <table style="border-collapse: collapse">
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>View</th>
                <th>Update</th>
            </tr>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.id}">&lt;ID goes here&gt;</td>
                <td th:text="${recipe.description}">&lt;Description goes here&gt;</td>
                <td><a href="#" th:href="@{'/recipe/show/' + ${recipe.id}}">view</a></td>
                <td><a href="#" th:href="@{'/recipe/update/' + ${recipe.id}}">update</a></td>
            </tr>
        </table>
    </div>
</body>
</html>